$amber: #ffc107;
$greyTrans: rgba(61, 61, 61, 0.904);
$grey: rgba(61, 61, 61, 1);
$greyLight: rgb(188, 188, 188);
$greyLight2: rgb(205, 202, 202);
$font1: "Space Mono", monospace;
$font2: "Rock Salt", "cursive";
