@import "./../../variables/_variables.scss";

.blockPadding {
  display: flex;
  background-color: $greyLight2;
  flex-direction: column;
  padding: 50px;
  column-gap: 250px;
  border-radius: 4px;
  margin-bottom: 15px;
}
