.px150 {
  //border: 2px solid rgba(61, 61, 61, 0.904);
  border-radius: 4px;
  padding: 5px;
  width: 20%;
}

.secondary {
  margin: 25px;
}

.tooltipMain {
  // color: red;
}

.bodyCardBook {
  min-height: 700px;

  // position: relative;
}
.cardActionBook {
  // position: absolute;
  // bottom: 0;
}
