@import "./../../variables/_variables.scss";
.coverImg {
  border: 2px solid $grey;
  border-radius: 4px;
  padding: 5px;
  justify-self: flex-start;
}

.secondary {
  margin: 25px;
}

.bodyCardBook {
  min-height: 700px;
  display: flex;
  flex-direction: column;
}
.cardActionBook {
  flex-grow: 1;
}
