.px150 {
  border: 1px solid rgb(246, 160, 84);
  border-radius: 4px;
  padding: 5px;
  width: 20%;
}

.secondary {
  margin: 25px;
}

.tooltipMain {
  // color: red;
}

.bodyCardBook {
  min-height: 700px;

  // position: relative;
}
.cardActionBook {
  // position: absolute;
  // bottom: 0;
}
