@import "./../../variables/_variables.scss";

.headerContainer {
  display: flex;
  padding: 0, 15px;
  background-color: $greyTrans;
  border-radius: 4px 4px 0 0;
}
.logo {
  color: $greyLight2;
  font-family: $font2;
  font-size: 2rem;
  line-height: 1.4rem;
  z-index: 200;
  transform: rotate(-5deg) translate(-9px);
  //width: 15vw;
}

.quote {
  color: $greyLight2;
  text-align: right;
  font-size: 12px;
}
