footer {
  flex-direction: column;

  padding-top: 20px;
  padding-bottom: 5px;
  background-color: rgba(61, 61, 61, 0.904);
  border-radius: 4px;

  //font-size: 12px;

  width: inherit;
  height: 60px;
  line-height: 60px;
  font-size: 14px;

  color: #000000;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;

    &:hover {
      border-bottom: 1px transparent;
    }
  }

  .icon {
  }
}
