@import "./../../variables/_variables.scss";
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 24px;
  padding: 20px;
  background-color: rgba(61, 61, 61, 0.904);
  border-radius: 4px;
  margin-top: 15px;

  //font-size: 12px;

  .footerText {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    color: $amber;
    text-align: center;
    padding-right: 5px;
  }

  .icon {
    grid-column: 3/4;
    color: $amber;
    transition: all 0.45s;

    &:hover {
      color: $greyLight2;
      scale: 1.3;
    }
  }
}
