@import "./../../variables/_variables.scss";
footer {
  flex-direction: column;
  padding: 20px;
  background-color: rgba(61, 61, 61, 0.904);
  border-radius: 4px;
  margin-top: 15px;

  //font-size: 12px;

  .footerText {
    width: inherit;
    height: 60px;
    line-height: 60px;
    font-size: 14px;

    color: $amber;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;

    &:hover {
      border-bottom: 1px transparent;
    }
  }

  .icon {
  }
}
