@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./variables/variables";
.app {
  padding: 15px;
  font-family: "Space Mono", "monospace";
  //background-color: rgba(61, 61, 61, 0.904);
}
.footerContainer {
  display: flex;
  width: inherit;
  max-height: auto;
}
