html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

nav {
  position: sticky;
  top: 0;
  padding-top: 50px;
  background-color: rgba(61, 61, 61, 0.904);
  z-index: 100;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu li {
  width: 200px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;

  a {
    font-size: 22px;
    color: rgb(234, 198, 39);
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover a {
    color: #ffffff;
    font-size: 26px;
  }
}
