@import "./../../variables/_variables.scss";
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

nav {
  position: sticky;
  top: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: $greyTrans;
  border-radius: 0 0 4px 4px;
  z-index: 100;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu li {
  width: 200px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  line-height: 1.1rem;

  a {
    font-size: 22px;
    color: $amber;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover a {
    color: rgb(205, 202, 202);
  }
}
